<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV5nyBspTX9fE7joIYpK-1sPcplcNe-a7ErQ&usqp=CAU");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <title>Sign Up</title>
</head>

<body>
    <div class="bg">
        <div class="row ">
            <div class="col-md-5 mx-auto" style="margin-top: 15vh;">
                <div id="second">
                    <article class="message is-link">
                        <div class="message-header">
                            <div class="col-md-12 text-center">
                                <h1>SignUp</h1>
                            </div>
                        </div>
                        <div class="message-body">
                            <form method="POST" name="register">
                                <div class="form-group">
                                    <label class="fas fa-envelope" for="exampleInputEmail1"> Email address</label>
                                    <input type="email" name="username" class="form-control" id="email"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label class="fas fa-key" for="exampleInputEmail1"> Password</label>
                                    <input type="password" name="password" id="password" class="form-control"
                                        aria-describedby="password" placeholder="Enter Password">
                                </div>
                                <div class="form-group">
                                    <label class="fas fa-user" for="name"> Name</label>
                                    <input type="text" name="name" class="form-control" id="name"
                                        aria-describedby="emailHelp" placeholder="Enter first name">
                                </div>
                                <div class="form-group">
                                    <label class="fas fa-scroll-old" for="">YOB</label>
                                    <input type="number" name="YOB" class="form-control" id="YOB" aria-describedby="YOB"
                                        placeholder="Year of birth" required>
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <button type="submit"
                                        class=" btn btn-block mybtn btn-primary tx-tfm">Register</button>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <p class="text-center"><a href="/users/login" id="signin">Already have an
                                                account?</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Handle age from 13 to 40 for yob input
        $(document).ready(function () {
            var yearNow = new Date().getFullYear();

            // Change the min and max of input type number
            $("#YOB").attr("min", yearNow - 40);
            $("#YOB").attr("max", yearNow - 13);
        })
    </script>
</body>

</html>